SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", SYMLINK+="arduino%n", MODE="0666"
#ACTION=="tty", ATTRS{manufacturer}=="Arduino*", SYMLINK+="arduino%n", MODE="0666"
